@-moz-keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.button {
  padding: 15px 25px;
  color: #FFF;
  cursor: pointer;
  border: solid 2px #FFF;
  font-size: 16px;
  background: transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.3s ease;
  outline: 0;
}

.button:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background-color: #FFF;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.1s 0.3s;
}
.button:after {
  content: '';
  border: solid 2px rgba(27,27,79,1);
  border-left-color: transparent;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  margin-top: -8px;
  margin-left: -8px;
  opacity: 0;
  transition: opacity 0.2s 0.1s ease;
}
.button.is-loading:before {
  transition: opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}
.button.is-loading:after {
  animation: rotation 0.5s infinite linear;
  opacity: 1;
}


